.app{
    display: flex;
    justify-content: center;
    background-color: pink;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5vh;
    height: 100%;
    color: rgb(24, 100, 124);
    
}
